@model List<Technician>
@{

    ViewData["Title"] = "SportsPro";
    Layout = "_Layout";

}
<body>
    <div class="container-fluid">
        <h2 class="mt-2">Technician Find</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var technician in Model)
                {
                    <tr>
                        <td>@technician.Name</td>
                        <td>@technician.Email</td>
                        <td>@technician.PhoneNumber</td>
                        <td>
                            <a asp-controller="Technician" asp-action="Edit" asp-route-id="@technician.TechnicianId" class="btn btn-primary">Edit</a>
                            <a asp-controller="Technician" asp-action="Delete" asp-route-id="@technician.TechnicianId" class="btn btn-primary">Delete</a>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>