@model List<Technician>

@{
    ViewData["Title"] = "SportsPro";
    Layout = "_Layout";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        SportsPro
    </title>
</head>
<body>
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var technician in Model)
            {
                <tr>
                    <td>@technician.Name</td>
                    <td>@technician.Email</td>
                    <td>@technician.PhoneNumber</td>
                    <td>
                        <a asp-controller="Technician" asp-action="Edit" asp-route-id="@technician.TechnicianId" class="btn btn-primary">Edit</a>
                        <a asp-controller="Technician" asp-action="Delete" asp-route-id="@technician.TechnicianId" class="btn btn-primary">Delete</a>
                </tr>
            }
        </tbody>
    </table>
    <div class="mb-2">
        <a asp-controller="Technician" asp-action="Add" class="fw-bold fs-5 ms-2 btn btn-primary">Add Technician</a>
    </div>
    <br />
</body>
</html>