@using Microsoft.AspNetCore.Identity;
@using CS_1.Models;
@model List<Product>

@{
    ViewData["Title"] = "SportsPro";
    Layout = "_Layout";
}
@inject SignInManager<User> signInManager
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        SportsPro
    </title>
</head>
<body>
    <br />
    <h3 class="text-success">@TempData["message"]</h3>
    <br />
    <h2 class="mb-3">Product Manager</h2>
    <div class="row">
        <h6>Sort By:</h6>
        <div class="col-md-auto"><a asp-action="List" asp-route-id="1" class="btn btn-outline-primary @(ViewBag.ProductSort == "High" ? "btn btn-outline-primary active" : "btn btn-outline-primary")">Highest Price</a></div>
        <div class="col-md-auto mb-3"><a asp-action="List" asp-route-id="2" class="btn btn-outline-primary @(ViewBag.ProductSort == "Low" ? "btn btn-outline-primary active" : "btn btn-outline-primary")">Lowest Price</a></div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Product Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Release Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductCode</td>
                    <td>@product.Name</td>
                    <td>@product.Price.ToString("C2")</td>
                    <td>@product.ReleaseDate</td>
                    <td>
                        @if (signInManager.IsSignedIn(User))
                        {
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductId" class="btn btn-primary">Edit</a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-primary">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (signInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            <div class="mb-2">
                <a asp-controller="Product" asp-action="Add" class="fw-bold fs-5 ms-2 btn btn-primary">Add Product</a>
            </div>
        }
    }
    <br />
</body>
</html>