@model List<Incident>

@{
    ViewData["Title"] = "SportsPro :)";
    Layout = "_Layout";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        SportsPro
    </title>
</head>
<body>
    <div class="navBarDiv container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <h2>SportsPro</h2>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link  link-light fw-bold active" aria-current="page" href="/Home/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light fw-bold active" aria-current="page" href="/Product/">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light fw-bold active" aria-current="page" href="/Technician/">Technicians</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light fw-bold active" aria-current="page" href="/Customer/">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light fw-bold active" aria-current="page" href="/Incident/">Incidents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light fw-bold active" aria-current="page" href="/Registration/">Registrations</a>
                        </li>
                    </ul>
                    <div class="aboutPage float-right">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link link-light fw-bold active" aria-current="page" href="/About/">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Date Opened</th>
                <th>Date Closed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var incident in Model)
            {
                <tr>
                    <td>@incident.Title</td>
                    <td>@incident.Customer.FirstName @incident.Customer.LastName</td>
                    <td>@incident.Product.Name</td>
                    <td>@incident.DateOpened</td>
                    <td>@incident.DateClosed</td>
                    <td>
                        <a asp-controller="Incident" asp-action="Edit" asp-route-id="@incident.IncidentId" class="btn btn-primary">Edit</a>
                        <a asp-controller="Incident" asp-action="Delete" asp-route-id="@incident.IncidentId" class="btn btn-primary">Delete</a>
                </tr>
            }
        </tbody>
    </table>
    <div class="mb-2">
        <a asp-controller="Incident" asp-action="Add" class="fw-bold fs-5 ms-2 btn btn-primary">Add Incident</a>
    </div>
    <br />
</body>
<footer>&copy;2022 - SportsPro</footer>
</html>