@model List<Incident>

@{
    ViewData["Title"] = "SportsPro";
    Layout = "_Layout";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        SportsPro
    </title>
</head>
<body>
    <br />
    <h2 class="mb-3">Incident Manager</h2>
    <div class="row">
        <h6>Sort By:</h6>
        <div class="col-md-auto"><a asp-action="List" asp-route-id="1" class="btn btn-outline-primary @(ViewBag.IncidentSort == "All" ? "btn btn-outline-primary active" : "btn btn-outline-primary")">All Incidents</a></div>
        <div class="col-md-auto"><a asp-action="List" asp-route-id="2" class="btn btn-outline-primary @(ViewBag.IncidentSort == "Unassign" ? "btn btn-outline-primary active" : "btn btn-outline-primary")">Unassigned Incidents</a></div>
        <div class="col-md-auto mb-3"><a asp-action="List" asp-route-id="3" class="btn btn-outline-primary @(ViewBag.IncidentSort == "Open" ? "btn btn-outline-primary active" : "btn btn-outline-primary")">Open Incidents</a></div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Date Opened</th>
                <th>Date Closed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var incident in Model)
            {
                <tr>
                    <td>@incident.Title</td>
                    <td>@incident.Customer.FirstName @incident.Customer.LastName</td>
                    <td>@incident.Product.Name</td>
                    <td>@incident.DateOpened</td>
                    <td>@incident.DateClosed</td>
                    <td>
                        <a asp-controller="Incident" asp-action="Edit" asp-route-id="@incident.IncidentId" class="btn btn-primary">Edit</a>
                        <a asp-controller="Incident" asp-action="Delete" asp-route-id="@incident.IncidentId" class="btn btn-primary">Delete</a>
                </tr>
            }
        </tbody>
    </table>
    <div class="mb-2">
        <a asp-controller="Incident" asp-action="Add" class="fw-bold fs-5 ms-2 btn btn-primary">Add Incident</a>
    </div>
    <br />
</body>
</html>